table{
width:100%;
}
tr{
display:block;
width:100%;
}
img{max-width:100%;
}
email{
width:3em;
height:3em;
}
body{
width:100%;
text-decoration:none;
font-size:1.3em;
}
tr{width:100%;
}
body{background-color:whitesmoke;
}
#mediumvioletpink{
background:mediumvioletred;
}
#deeppink{
background-color:#FF1493;
}
#browse{
width:50%;
}
.green{
color:green
background:green;
}
.white{
background:white;
}
.black{
background:black;
color:white;
}
.darkslategray{
background:darkslategray;
}
a{
text-decoration:none;
}
#search{
max-width:100%;
}